<div class="col-2" >
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <button type="button" class="btn btn-outline-secondary"> <%= f.button :submit %> </button>
  <% end %>
</div>
