<h1><%= @cocktail.name %></h1>

<ul>
  <% @cocktail.doses.each do |dose| %>

    <li><%= dose.description %> of <%= dose.ingredient.name %></li>

  <% end %>

</ul>

<p><%= link_to "Add a dose", new_cocktail_dose_path(@cocktail) %></p


<p><%= link_to "Back to cocktail list", cocktails_path %></p>
